In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("DATOSLP13DEA.csv", sep=",",encoding="latin1")

In [5]:
data.head()

,Date,Time,AT-101,AT-102,CO2,DENSIDAD,FLUJO,FT-101,LT-101,NIVEL_ACTIVAR,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,12/14/2023,13:24:26,14.875,21.250002,0.724000,1.007875,0.347813,0.01628,0.0,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12/14/2023,13:24:56,14.875,21.250002,0.716349,1.006500,0.452813,0.01628,0.0,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12/14/2023,13:25:26,14.875,21.250002,0.651882,1.009500,0.380625,0.01628,0.0,46,...,NaN,NaN,NaN,NaN,Peso seco,Volumen,15,mL,NaN,NaN
3,12/14/2023,13:25:56,14.875,21.250002,0.459085,0.995875,0.071250,0.01628,0.0,46,...,NaN,NaN,NaN,Hora,Código,Petri vacio,Petri seco,Peso seco (g/L),Promedio (g/L),Desviación media
4,12/14/2023,13:26:26,14.875,21.250002,0.266001,0.994750,0.441563,0.01628,0.0,46,...,NaN,NaN,NaN,12:00 AM,0A,44.1619,44.3635,281.43,278.705,3.85

In [6]:
df=data.iloc[:,:25]

In [7]:
df.head()

,Date,Time,AT-101,AT-102,CO2,DENSIDAD,FLUJO,FT-101,LT-101,NIVEL_ACTIVAR,...,RQ,SE-101,SET_POINT_GAS,SUSTRATO,SUSTRATO2,SV-101,TE-101,TE-102,TE-103,TE-106
0,12/14/2023,13:24:26,14.875,21.250002,0.724000,1.007875,0.347813,0.01628,0.0,46,...,0.664287,0,0.0,0.0,0,645,81.778130,73.755585,143.740631,27.467407
1,12/14/2023,13:24:56,14.875,21.250002,0.716349,1.006500,0.452813,0.01628,0.0,46,...,0.687632,0,0.0,0.0,0,645,81.393753,73.499237,143.660523,27.467407
2,12/14/2023,13:25:26,14.875,21.250002,0.651882,1.009500,0.380625,0.01628,0.0,46,...,0.815077,0,0.0,0.0,0,645,80.934380,73.114716,144.077087,27.483429
3,12/14/2023,13:25:56,14.875,21.250002,0.459085,0.995875,0.071250,0.01628,0.0,46,...,0.982730,0,0.0,0.0,0,645,80.709381,73.002533,144.189270,27.499451
4,12/14/2023,13:26:26,14.875,21.250002,0.266001,0.994750,0.441563,0.01628,0.0,46,...,0.664425,0,0.0,0.0,0,645,80.278130,72.714142,144.173248,27.499451

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2356 non-null   object
 1   Time            2356 non-null   object
 2   AT-101          2356 non-null   float64
 3   AT-102          2356 non-null   float64
 4   CO2             2356 non-null   float64
 5   DENSIDAD        2356 non-null   float64
 6   FLUJO           2356 non-null   float64
 7   FT-101          2356 non-null   float64
 8   LT-101          2356 non-null   float64
 9   NIVEL_ACTIVAR   2356 non-null   int64
 10  NIVEL_ANTIESPU  2356 non-null   int64
 11  O2              2356 non-null   float64
 12  PT-101          2356 non-null   float64
 13  Q_O2            2356 non-null   float64
 14  Q_CO2           2356 non-null   float64
 15  RQ              2356 non-null   float64
 16  SE-101          2356 non-null   int64
 17  SET_POINT_GAS   2356 non-null   float64
 18  SUSTRATO        2356 non-null   float64
 19  SUSTRATO2       2356 non-null   int64
 20  SV-101          2356 non-null   int64
 21  TE-101          2356 non-null   float64
 22  TE-102          2356 non-null   float64
 23  TE-103          2356 non-null   float64
 24  TE-106          2356 non-null   float64
dtypes: float64(18), int64(5), object(2)
memory usage: 460.3+ KB

In [9]:
categorical = data.select_dtypes(include=['object'])  # Selecciona las columnas tipo 'object'
numeric = data.select_dtypes(include=['int', 'float'])  # Selecciona las columnas tipo 'int' o 'float'

print("Variables Categóricas:")
print(categorical)
print("\nVariables Numéricas:")
print(numeric)

Variables Categóricas:
            Date      Time Unnamed: 29 Unnamed: 30  Unnamed: 31 Unnamed: 32  \
0     12/14/2023  13:24:26         NaN         NaN          NaN         NaN
1     12/14/2023  13:24:56         NaN         NaN          NaN         NaN
2     12/14/2023  13:25:26         NaN   Peso seco     Volumen           15
3     12/14/2023  13:25:56        Hora      Código  Petri vacio  Petri seco
4     12/14/2023  13:26:26    12:00 AM          0A      44.1619     44.3635
...          ...       ...         ...         ...          ...         ...
2351  12/15/2023   9:00:12         NaN         NaN          NaN         NaN
2352  12/15/2023   9:00:42         NaN         NaN          NaN         NaN
2353  12/15/2023   9:01:12         NaN         NaN          NaN         NaN
2354  12/15/2023   9:01:42         NaN         NaN          NaN         NaN
2355  12/15/2023   9:02:12         NaN         NaN          NaN         NaN

          Unnamed: 33      Unnamed: 34       Unnamed: 35
0                 NaN              NaN               NaN
1                 NaN              NaN               NaN
2                  mL              NaN               NaN
3     Peso seco (g/L)  Promedio (g/L)   Desviación media
4              281.43          278.705              3.85
...               ...              ...               ...
2351              NaN              NaN               NaN
2352              NaN              NaN               NaN
2353              NaN              NaN               NaN
2354              NaN              NaN               NaN
2355              NaN              NaN               NaN

[2356 rows x 9 columns]

Variables Numéricas:
         AT-101     AT-102       CO2  DENSIDAD     FLUJO   FT-101  LT-101  \
0     14.875000  21.250002  0.724000  1.007875  0.347813  0.01628     0.0
1     14.875000  21.250002  0.716349  1.006500  0.452813  0.01628     0.0
2     14.875000  21.250002  0.651882  1.009500  0.380625  0.01628     0.0
3     14.875000  21.250002  0.459085  0.995875  0.071250  0.01628     0.0
4     14.875000  21.250002  0.266001  0.994750  0.441563  0.01628     0.0
...         ...        ...       ...       ...       ...      ...     ...
2351   6.023500   7.455000  0.347509  1.149375  0.375938  0.01628     0.0
2352   6.042750   7.415000  0.350044  1.142875  0.508125  0.01628     0.0
2353   5.997250   7.388751  0.352907  1.134000  0.420938  0.01628     0.0
2354   6.008625   7.443750  0.349181  1.149750  0.450938  0.01628     0.0
2355   5.990250   7.415000  0.348500  1.141000  0.306563  0.01628     0.0

      NIVEL_ACTIVAR  NIVEL_ANTIESPU         O2  ...  SUSTRATO2  SV-101  \
0                46               0  19.891048  ...          0     645
1                46               0  19.937052  ...          0     645
2                46               0  20.169586  ...          0     645
3                46               0  20.493565  ...          0     645
4                46               0  20.580091  ...          0     645
...             ...             ...        ...  ...        ...     ...
2351             46               0  20.293226  ...          0     791
2352             46               0  20.294725  ...          0     791
2353             46               0  20.294519  ...          0     791
2354             46               0  20.292580  ...          0     791
2355             46               0  20.290392  ...          0     791

         TE-101     TE-102      TE-103     TE-106  Unnamed: 25  Unnamed: 26  \
0     81.778130  73.755585  143.740631  27.467407          NaN          NaN
1     81.393753  73.499237  143.660523  27.467407          NaN          NaN
2     80.934380  73.114716  144.077087  27.483429          NaN          NaN
3     80.709381  73.002533  144.189270  27.499451          NaN          NaN
4     80.278130  72.714142  144.173248  27.499451          NaN          NaN
...         ...        ...         ...        ...          ...          ...
2351  20.990625  20.770126  144.365509  18.559052          NaN          NaN
2352  20.981251  20.722061  144.461639  18.751328          NaN          NaN
2353  20.925001  20.561829  144.093109  18.559052          NaN          NaN
2354  20.878126  20.481720  143.596436  18.254639          NaN          NaN
2355  20.859375  20.433655  143.179871  17.998276          NaN          NaN

      Unnamed: 27  Unnamed: 28
0             NaN          NaN
1             NaN          NaN
2             NaN          NaN
3             NaN          NaN
4             NaN          NaN
...           ...          ...
2351          NaN          NaN
2352          NaN          NaN
2353          NaN          NaN
2354          NaN          NaN
2355          NaN          NaN

[2356 rows x 27 columns]

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification

In [11]:

X_train, X_test, y_train, y_test = train_test_split(numeric, df["TE-102"], random_state=0)

In [12]:
Pipeline1= Pipeline([("imputer", SimpleImputer(missing_values=np.nan, strategy="median")),('scaler', StandardScaler()),
    ('svc', SVC())])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2356 non-null   object
 1   Time            2356 non-null   object
 2   AT-101          2356 non-null   float64
 3   AT-102          2356 non-null   float64
 4   CO2             2356 non-null   float64
 5   DENSIDAD        2356 non-null   float64
 6   FLUJO           2356 non-null   float64
 7   FT-101          2356 non-null   float64
 8   LT-101          2356 non-null   float64
 9   NIVEL_ACTIVAR   2356 non-null   int64
 10  NIVEL_ANTIESPU  2356 non-null   int64
 11  O2              2356 non-null   float64
 12  PT-101          2356 non-null   float64
 13  Q_O2            2356 non-null   float64
 14  Q_CO2           2356 non-null   float64
 15  RQ              2356 non-null   float64
 16  SE-101          2356 non-null   int64
 17  SET_POINT_GAS   2356 non-null   float64
 18  SUSTRATO        2356 non-null   float64
 19  SUSTRATO2       2356 non-null   int64
 20  SV-101          2356 non-null   int64
 21  TE-101          2356 non-null   float64
 22  TE-102          2356 non-null   float64
 23  TE-103          2356 non-null   float64
 24  TE-106          2356 non-null   float64
dtypes: float64(18), int64(5), object(2)
memory usage: 460.3+ KB

In [14]:
Pipeline1.fit(X_train, y_train)

c:\Users\Luis Vasquez\anaconda3\Lib\site-packages\sklearn\impute\_base.py:555: UserWarning: Skipping features without any observed values: ['Unnamed: 25' 'Unnamed: 26' 'Unnamed: 27' 'Unnamed: 28']. At least one non-missing value is needed for imputation with strategy='median'.
  warnings.warn(

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [ ]:
Pipeline1.score(X_test, y_test)

In [ ]:
numeric